.site-footer {
    background-color: #23517d;
}
header 
{
  background-color: #23517d;
}
.nav-link-header
{
  color:white;
}
.nav-header 
{
  background-color: #23517d;
  color:white;

}
.menu-bars
{  
  color:white;
}
.logo_sm
{
  max-width: 146px;
}
.dropdown-site-menu 
{
  min-width: 12rem;
}
.letters-div
{
    background-color: #000;
    background-image: linear-gradient(to bottom,#383838,#080808);
    border: 1px solid #000;
    color: #fff;
}
span a
{
  padding-left: 10px;
  color:white;
}
.home-popular-row
{
  z-index:99;
}